# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# PyInstaller
build/
dist/
ProjetoCrencas/
*.toc
*.pyz
*.pkg
*.manifest
base_library.zip
warn-*.txt
xref-*.html
localpycs/

# Relatórios/testes gerados
relatorios_teste_pdf/

# Ficheiros comprimidos de entrega
*.zip

# Sistema/IDE
.vscode/
.DS_Store
Thumbs.db

*.zip
build/
dist/
ProjetoCrencas/
__pycache__/
